[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
typing = "*"
typing-extensions = "*"
click = "*"
distance = "*"
pyrsistent = "*"

[dev-packages]
black = "*"
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-import-order" = "*"
mypy = "*"
pycodestyle = "*"
pytest = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
